body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0b0a;
    color: #927c48;
    background-image: url('https://framerusercontent.com/images/8G8Y8b1ZHwFvDzVUQQlr4waN1DI.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0a0b0a;
}


header h1 {
    font-size: 24px;
    margin: 0;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #927c48;
    text-decoration: none;
}
texto-justificado {
    text-align: justify;
    width: 500px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #ffffff; 
    border: 1px solid #ccc; 
}

h3{
    color:#000000
}

a {
    color: #000000; 
    text-decoration: none; 
}

a:hover {
    color: #ffffff; 
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    color: #efebe2;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffffff;
}

.hero {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: left;
    color: #efebe2;
    text-align: left;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-text {
    z-index: 1;
}

.hero-text h2 {
    font-size: 48px;
    margin: 0;
}

.hero-text p {
    font-size: 24px;
    margin: 10px 0 0;
    
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

.card {
    background-color: #927c48;
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
    text-align: center;
    margin: 20px 0; 
    color: #927c48; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card-container {
    display: flex;
}

.card-desafios {
    background-image: url('https://framerusercontent.com/images/eN3OMUIE7k3yknjR7LKFRc8TlU.webp?scale-down-to=512');
}

.card-opções {
    background-image: url('https://framerusercontent.com/images/zdNby1FOPp7GzDhmFMCok60nHO4.webp?scale-down-to=512');
}

.card-sobre {
    background-image: url('https://framerusercontent.com/images/Zn8uzE1W2LH7NspGArV0cjznzbQ.webp?scale-down-to=512');
}

.card-SOS {
    background-image: url('https://framerusercontent.com/images/ZzX6Jkm6hd0otJQyJtqyuEMz4.jpeg?scale-down-to=512');
}

.card-fitnes {
    background-image: url('https://framerusercontent.com/images/2jL0XFnrv3IvWpJPZ0fX9KcE0M8.jpeg?scale-down-to=512');
}

.card h3 {
    font-size: 24px;
    margin: 0 0 10px;
}

.card p {
    font-size: 16px;
    margin: 0;
    visibility: hidden;
}

footer {
    background-color: #0a0b0a;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 10px 0;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hero-text, .content, .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}