body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0b0a;
    color: #927c48;
    background-image: url('https://framerusercontent.com/images/8G8Y8b1ZHwFvDzVUQQlr4waN1DI.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Container do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
     z-index: 9999; /* fica na frente de tudo */
}

/* Botão principal */
.dropbtn {
    background-color: #927c48;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Conteúdo do dropdown (inicialmente escondido) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 6px;
    z-index: 1;
}

/* Links dentro do dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

/* Hover nos links */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Mostrar o dropdown quando ativo */
.dropdown.show .dropdown-content {
    display: block;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0a0b0a;
}


header h1 {
    font-size: 24px;
    margin: 0;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #927c48;
    text-decoration: none;
}
texto-justificado {
    text-align: justify;
    width: 500px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #ffffff; 
    border: 1px solid #ccc; 
}

h3{
    color:#000000
}

a {
    color: #000000; 
    text-decoration: none; 
}

a:hover {
    color: #ffffff; 
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    color: #efebe2;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffffff;
}

.hero {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: left;
    color: #efebe2;
    text-align: left;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-text {
    z-index: 1;
}

.hero-text h2 {
    font-size: 48px;
    margin: 0;
}

.hero-text p {
    font-size: 24px;
    margin: 10px 0 0;
    
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

.card {
    background-color: #927c48;
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
    text-align: center;
    margin: 20px 0; 
    color: #927c48; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card-container {
    display: flex;
}

.card-desafios {
    background-image: url('https://framerusercontent.com/images/eN3OMUIE7k3yknjR7LKFRc8TlU.webp?scale-down-to=512');
}

.card-opções {
    background-image: url('https://framerusercontent.com/images/zdNby1FOPp7GzDhmFMCok60nHO4.webp?scale-down-to=512');
}

.card-sobre {
    background-image: url('https://framerusercontent.com/images/Zn8uzE1W2LH7NspGArV0cjznzbQ.webp?scale-down-to=512');
}

.card-SOS {
    background-image: url('https://framerusercontent.com/images/ZzX6Jkm6hd0otJQyJtqyuEMz4.jpeg?scale-down-to=512');
}

.card-fitnes {
    background-image: url('https://framerusercontent.com/images/2jL0XFnrv3IvWpJPZ0fX9KcE0M8.jpeg?scale-down-to=512');
}

.card h3 {
    font-size: 24px;
    margin: 0 0 10px;
}

.card p {
    font-size: 16px;
    margin: 0;
    visibility: hidden;
}

.search-container {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.search-input {
    padding: 10px 15px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 25px 0 0 25px;
    outline: none;
    font-size: 16px;
}

.search-button {
    padding: 10px 15px;
    background: #927c48;
    color: white;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background: #927c48;
}
.surpresa-container {
    text-align: center;
    margin-top: 20px;
}

#surpresaBtn {
    background-color: #927c48;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#surpresaBtn:hover {
    background-color: #927c48;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 80%;
    text-align: left;
    position: relative;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #927c48;
}

.hidden {
    display: none;
}


.surpresa-container {
    text-align: center;
    margin-top: 20px;
}

#surpresaBtn {
    background-color: #927c48;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#surpresaBtn:hover {
    background-color: #c0392b;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 80%;
    text-align: left;
    position: relative;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
    color: red;
}

.hidden {
    display: none;
}


footer {
    background-color: #0a0b0a;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 10px 0;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hero-text, .content, .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

}
